.profile1
{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  justify-items: center;
  align-items: center;

  margin-top: 32px;
}
.card_title
{
  font-weight: 700;
  font-size: 54px;
  color: #00255B;
}
.card_image img
{
  height: 400px;
  width: 400px;
}
.card_struct
{
  text-align: center;
  padding: 30px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.card_struct p
{
  text-align: justify;
  font-size: 26px;
  color: #00255B;
  background-color: #4992FF;
  height: auto;
  width: 500px;
  border-radius: 20px;
  padding-left: 40px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px #00255B;
  font-weight: 600;
}
.card_struct hr
{
  width: 90%;
  text-align: center;
  height: 20px;
  margin: 3px 0;
}
.card_struct p:hover
{
  background-color: #5a9afa;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 3px 3px 3px 3px #00255B;
}
.card_struct h5{
  margin-bottom: 15px;
}